/* 
.homepage {
  height: 100vh;
  background-image: url('../assets/project3_bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
} */

/* .logo {
  margin-left: 40px;
}

.menu {
  margin-right: 40px;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
