.home {
  height: 100vh;
  background-image: url('project3_bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  margin-left: 40px;
}

.menu {
  margin-right: 40px;
}

.login-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.login-box {
  border: 2px solid #3ca7c2;
}

.login-box {
  border: 2px solid #3ca7c2;
}
